USE [master]
GO
/****** Object:  Database [K3_Lab1_DB]    Script Date: 2023-12-10 14:55:52 ******/
CREATE DATABASE [K3_Lab1_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'K3_Lab1_DB', FILENAME = N'C:\Users\sherr\K3_Lab1_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'K3_Lab1_DB_log', FILENAME = N'C:\Users\sherr\K3_Lab1_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [K3_Lab1_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [K3_Lab1_DB]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2023-12-10 14:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](35) NOT NULL,
	[LastName] [nvarchar](35) NOT NULL,
	[SSN] [int] NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [char](1) NULL,
	[ClassID_FK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 2023-12-10 14:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](35) NOT NULL,
	[PersonalID_FK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 2023-12-10 14:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID_FK] [int] NOT NULL,
	[CourseID_FK] [int] NOT NULL,
	[Grade] [int] NULL,
	[GradeSetInDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[GetAllGradesLastMonth]    Script Date: 2023-12-10 14:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GetAllGradesLastMonth]
	AS 
	SELECT
		s.FirstName, 
		s.LastName, 
		c.CourseName, 
		e.Grade, 
		e.GradeSetInDate
	FROM Enrollments e
	JOIN Students s ON s.StudentID = e.StudentID_FK
	JOIN Courses c ON c.CourseID = e.CourseID_FK
	WHERE DATEPART(month, GradeSetInDate) = DATEPART(month, DATEADD(month, -1, GETDATE()));
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 2023-12-10 14:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](35) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 2023-12-10 14:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[PersonalID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](35) NOT NULL,
	[LastName] [nvarchar](35) NOT NULL,
	[PersonalCategory] [nvarchar](35) NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([PersonalID_FK])
REFERENCES [dbo].[Personal] ([PersonalID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([CourseID_FK])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([StudentID_FK])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([ClassID_FK])
REFERENCES [dbo].[Classes] ([ClassID])
GO
/****** Object:  StoredProcedure [dbo].[GetAllGradesFromLastMonth]    Script Date: 2023-12-10 14:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllGradesFromLastMonth]
AS
BEGIN
	SELECT
		s.FirstName, 
		s.LastName, 
		c.CourseName, 
		e.Grade, 
		e.GradeSetInDate
	FROM Enrollments e
	JOIN Students s ON s.StudentID = e.StudentID_FK
	JOIN Courses c ON c.CourseID = e.CourseID_FK
	WHERE DATEPART(month, GradeSetInDate) = DATEPART(month, DATEADD(month, -1, GETDATE()))
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAverageGrade]    Script Date: 2023-12-10 14:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAverageGrade]
AS
BEGIN
	SELECT c.CourseID, c.CourseName, AVG(e.Grade) AS AverageGrade, MAX(e.Grade) AS HighestGrade, MIN(e.Grade) AS LowestGrade
	FROM Enrollments e
	JOIN Courses c ON c.CourseID = e.CourseID_FK
	GROUP BY c.CourseID, c.CourseName
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAverageGradesByGenderByAge]    Script Date: 2023-12-10 14:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAverageGradesByGenderByAge]
AS
BEGIN
	SELECT c.CourseID, c.CourseName, AVG(e.Grade) AS AverageGrade, s.Gender, YEAR(s.DateOfBirth) AS Year
	FROM Enrollments e
	JOIN Courses c ON c.CourseID = e.CourseID_FK
	JOIN Students s ON s.StudentID = e.StudentID_FK
	GROUP BY c.CourseID, c.CourseName, s.Gender, YEAR(s.DateOfBirth)
	ORDER BY c.CourseID, s.Gender, YEAR(s.DateOfBirth)
END;
GO
/****** Object:  StoredProcedure [dbo].[GetStaffByCategory]    Script Date: 2023-12-10 14:55:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStaffByCategory]
	@PersonalCategory NVARCHAR(35)
AS
BEGIN
	SELECT 
		PersonalID,
		FirstName,
		LastName,
		PersonalCategory
	FROM
		Personal
	WHERE
		PersonalCategory = @PersonalCategory;
END;
GO
USE [master]
GO
